
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
}

/* general */

.loading{
  height: 250px;
  width: 350px;
  border-radius: 20px;
}

/* navbar styling */

.bg-grad{
  background: linear-gradient(to right, #ffb75e, #ed8f03);
}

.bg-black{
  background-color: black;
}

.nav-logo{
  font-family: 'Work Sans', sans-serif;
}

.nav-icon{
  height: 40px;
  width: 40px;
}

.foot{
  background-color: #eaeae8;
  box-shadow: 0px -2px 5px #929292a8;
}

/* all posts page */

.holder{
  column-count: 2;
  column-gap: 10px;
}

.postcard{
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
}

.post-img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* userpage */

.userprofile{
  height: 70px;
  width: 70px;
}
