
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  user-select: none;
}

html{
  scroll-behavior: smooth;
}

/* general */

.loading{
  height: 230px;
  width: 300px;
  border-radius: 20px;
}

/* navbar styling */

.bg-grad{
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}

.form-bg{
  background-color: #eaeae8;
  /* box-shadow: -4px 4px 10px #707070a8; */
}

.bg-black{
  background-color: black;
}

.nav-logo{
  font-family: 'Work Sans', sans-serif;
  font-size: 30px;
}

.nav-icon{
  height: 40px;
  width: 40px;
}

.foot{
  background-color: #eaeae8;
  box-shadow: 0px -2px 5px #5a5a5a81;
}

.master-holder{
  padding: 20px 0px 40px 0px;
}

/* all posts page */

.holder{
  column-count: 2;
  column-gap: 10px;
}

.postcard{
  width: 100%;
  display: inline-block;
  margin: 5px 0px;
}

.post-img{
  height: auto;
  width: 75%;
  border-radius: 50%;
  margin: 40px 0px;
}

.post-pic-holder{
  text-align: center;
}

.post-body{
  padding: 30px;
}

.card-title{
  font-family: 'Alfa Slab One', cursive;
}


/* userpage */

.userprofile{
  height: 150px;
  width: 150px;
}


/* media QUERIES */

@media screen and (max-width:600px){
  
  .nav-logo{
    font-size: 20px;
  }

  .post-img{
    width: 30%;
    margin: 30px 0px;
  }

  .post-body{
    padding: 5px;
  }
}